---
layout: base.njk
title: Aaron T. Maturen
---

<h1>Aaron T. Maturen</h1>
<section>
  <p>
    <a href="/resume/">Resume</a> &bull;
    <a href="/musings/">Musings</a> &bull;
    <a href="https://github.com/aaronmaturen">Github</a> &bull;
    <a href="https://www.linkedin.com/profile/view?id=79698272">LinkedIn</a>
  </p>
</section>
