---
layout: base.njk
title: Aaron T. Maturen
---

<h1>Aaron T. Maturen</h1>
<section>
  <p>
    <a href="/musings/">Musings</a> &bull;
    <a href="/follies/">Follies</a> &bull;
    <a href="/resume/">Resumé</a> &bull;
    <a href="https://github.com/aaronmaturen">Github</a> &bull;
    <a href="https://www.linkedin.com/in/aaron-maturen-82883522/">LinkedIn</a>
  </p>
</section>
